/* TODO : refaire le CSS en flexFunBoite*/

/*html
{
    background-color:black;
    display: flex;
    flex-direction: column;
}

h1 
{
    color: sandybrown;
    text-align: center;
    font-size: 5em;
}

#createRoom-info
{
    margin: 0.3em;
    color: salmon;
}

#joinRoom-list
{
    margin: 0.4em;
    color: salmon;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

#joinRoom 
{
    text-align: center;
}

#createRoom 
{
    text-align: center;
}

.button 
{
    background-color: wheat;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 0.1em 0.5em;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 1), 0 17px 50px 0 rgba(0, 0, 0, 1);
}

.joinRoom-room 
{
    background-color: transparent;
    border: none;
    color:salmon;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}


input[type=text], select 
{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}*/