<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> > Sandbox.io</title>

    <style>
        html{
            background-color: black;
        }
    </style>
</head>
<body>
    home
</body>
</html>