<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <style>
        html{
            background-color: black;
        }
    </style>

</head>
<a href="/login">Login</a>

<body>
    <form action="/register" method="POST">
        
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>

        <input type="submit" value="Register">
    </form>
</body>
</html>