<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Room - <%= name %></title>

    <link rel="stylesheet" type="text/css" href="assets/css/room.css">
    <script src="assets/js/vendors/socket.io.js"></script>

    <script>
        const UID = "<%= UID %>";
    </script>

    <script type="module" src="assets/js/room.js"></script>

</head>
<body>
    <h1><%= name %></h1>
    
</body>
</html>